@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  margin:0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
::-moz-selection { /* Code for Firefox */
  color: green;
  background: rgb(44, 233, 217);
}

::selection {
  color: green;
  background: rgb(44, 233, 217);
}




.PageHeading{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.CourseHeading{
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
}
.CourseSubHeading{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

.paragraph{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.FooterTextTop{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.FooterTextBottom{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

/* ========= Added by Oshan ============== */


:root {
  --my-color-bg: #ffffff;
  --my-color-bg-variant: #2c2c6c;
  --my-color-primary: #B5E3EA;
  --my-color-primary-variant: rgba(77,181,255,0.4);
  --my-color-black: #000000;
  --my-color-light: rgba(241, 237, 237, 0.993);

  --my-transition: all 400ms ease;

  --my-container-width-lg: 75%;
  --my-container-width-md: 86%;
  --my-container-width-sm: 90%;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}


