.dashboard__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dashboard__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.dashboard__card{
    background: var(--my-color-bg);
    color: var(--my-color-black);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding:2rem;
    text-align: center;
    transition: var(--my-transition);
    height: 5cm;
    width: 10cm;
}

.dashboard__card:hover{
    background: var(--my-color-primary);
    color: var(--my-color-black);
    border-color: transparent;
    padding-left: 2rem;
}

.dashboard__card:focus {
    background-color: var(--my-color-primary);
    color: var(--my-color-black);
    border-color: transparent;
}

.dashboard__title{
    background: var(--my-color-light);
    color: black;
    border: 0.5px solid transparent;
    border-radius: 1rem;
    padding:0.1rem;
    margin-bottom: 2rem;
    text-align: center;
    transition: var(--my-transition);
}

.card__image{
    width: 1.6cm;
    height: 1cm;
}

.card__image-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1cm;
    padding-top: 1.5rem;
}

/*================== General Styles ======================*/

a {
    color: var(--my-color-primary);
    transition: var(--my-transition);
  }
  
  a:hover {
    color: var(--my-color-white);
  }
  
  .btn {
    width: 22vh;
    display: inline-block;
    color: var(--my-color-primary);
    padding: 0.5rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--my-color-primary);
    transition: var(--my-transition);
  }
  
  .btn:hover {
    background: var(--my-color-primary);
    color: var(--my-color-black);
    border-color: transparent;
    /* padding-left: 2rem; */
  }
  
  .btn:focus {
    background-color: var(--my-color-primary);
    color: var(--my-color-black);
    border-color: transparent;
  }
  
  .btn-primary {
    /* background: var(--color-bg); */
    padding-left: 1rem;
    color: var(--my-color-black);
  }
  
  .btn-menu__items {
    background: var(--my-color-white);
    color: var(--my-color-black);
  }
  