.myFooter{
    position: relative;
    color: #dcdace;
    width: 100%;
    bottom: 0;
    padding: 0.6em;
    box-sizing: border-box;
    margin: 0;
    background-color: #361f10;
    align-items:center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
  }

  .footer-top h3{
    font-size: 17px;
    padding: 0;
    font-weight: bold;
    text-align: left;
  }

  .footer-top ul{
    list-style-type: circle;
    margin: 0;
    padding: 0 0 0 15px;
    text-align: left;
  }

  .footer-bottom ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.footer-contact{
  text-align: left;
}

.footer-hl{
  border-bottom: 2px solid aliceblue;
  padding: 0.5em;
}

.footer-social ul{
  display: flex;
  justify-content: center;
}
.footer-social ul li{
  padding: 1em;
}

