.myFooter{
    position: relative;
    color: #dcdace;
    width: 100%;
    bottom: 0;
    padding: 0.6em;
    box-sizing: border-box;
    margin: 0;
    background-color: #361f10;
    align-items:center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
  }

  .footer-bottom ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }




.footer-hl{
  border-bottom: 2px solid aliceblue;
  padding: 0.5em;
}

.footer-social ul{
  display: flex;
  justify-content: center;
}
.footer-social ul li{
  padding: 1em;
}


