.premium__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 7rem;
    padding-right: 7rem;
}

.premium__title{
    background: var(--my-color-light);
    color: black;
    border: 0.5px solid transparent;
    border-radius: 1rem;
    padding:0.1rem;
    padding-left: 3rem;
    /* padding-right: 0rem; */
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    transition: var(--my-transition);
}

.premium__paragraph{
    /* background: var(--color-light); */
    color: black;
    border: 0.5px solid transparent;
    border-radius: 5rem;
    padding:2rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    transition: var(--my-transition);
}

.premium__content{
    background: var(--my-color-bg);
    color: var(--my-color-black);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding:1rem;
    text-align: center;
    transition: var(--my-transition);
}

.premium__btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3cm;
    padding-left: 6rem;
    padding-top: 2rem;
}
